<!DOCTYPE html>
<html lang="de">
<head>

    <title> CLZ Boxen mieten</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/addBoxen.css">
	<div class="background">
			<img src="/images/Clausthal-Zellerfeld.jpg" class="background">
	</div>

	<div class="headline"><h1> SharingPoint Clausthal, neue Box mieten</h1></div>

    <div id="sidenav" Class="sidenav">
		<div class="toggle-btn" onclick="toggleSidebar()">
			<img src="/public/images/avatar.png" class= "avatar">
		</div>
		<a href="/index.html" class="logOut"> Ausloggen</a>
		<!--TODO: Tatsächlich ausloggen, also session zerstören etc-->
		<button id="codeGen"> Code ändern</button>
	</div>
	
	<div id="codeModal" class="codeModal">

		<div class="codeModal-content">
			<span class="close">&times;</span>
			<p> Hier passieren später magische Dinge....</p>
		</div>

	</div>
</head>
<body>
	<div class="boxliste" id="boxlist">
		<div class="headl"> <h2> Eine Box auswählen</h2></div>
    <div class="main-container">
    </div>
    <script>
        function toggleSidebar(){
			document.getElementById("sidenav").classList.toggle('active');
		}

        fetch('http://127.0.0.1:3000/freeBoxes')
        .then(res => {return res.json()})
        .then(myJson => {
            console.log(myJson)
            // This is where boxes will be added
            const container = document.querySelector(".main-container");

            for(key in myJson){
                //Aktuellen Key zwischenspeichern, frag mich nicht warum, aber funktioniert
                const intermediateKey = key
                
                //Container for Box Information
                const boxContainer = document.createElement('div');
                boxContainer.classList.add('box-container');

                //This will contain the address
                const standort = document.createElement('div');
                standort.textContent = key;

                //this will contain how many boxes are available at the location
                const boxesleft = document.createElement('div');
                boxesleft.textContent = `${myJson[key].length} Boxen verfügbar`;

                //Container for button, not sure why this exists...
                const boxMieten = document.createElement('div');
                //Create a button
                const buttonCode = document.createElement('button');
                buttonCode.classList.add('buttons');
                buttonCode.textContent = "Box mieten";

                //Add a Click-Listener to the button
                buttonCode.addEventListener('click', function(){
                    const id = intermediateKey;

                    console.log(id)
                    //Send user id and location id to server
                    fetch('http://127.0.0.1:3000/rentabox',{
                        method:'PUT',
                        body: JSON.stringify({location:id}),
                        head: {
                            'Content-Type':'application/json'
                        }
                    }).then(console.log(id));
                    //server adds user id to box id and returns success
                });
                //At button to button-container
                boxMieten.appendChild(buttonCode);
                //Add infos to boxContainer
                boxContainer.appendChild(standort);
                boxContainer.appendChild(boxesleft);
                boxContainer.appendChild(boxMieten);
                //Add box to the main container
                container.appendChild(boxContainer);
            }
        })
    </script>
</body>
</html>