#signup {
    display: none;
    
}
#signin {
    display: block;
}

#btn-sign {
    margin-left:10px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}